* {
  font-family: "Times New Roman", Times, serif;
}

.head {
  background-image: linear-gradient(
    to bottom right,
    rgb(182, 182, 182),
    rgba(217, 217, 217, 0.906)
  );
  margin-top: 10px;
  padding: 10px;
}

.title {
  width: 150px;
  margin-top: 10px;
  display: inline-block;
}
.A1 {
  text-decoration: none;
  display: inline-block;
  padding-left: 950px;
}
.A1:hover {
  color: navy;
  display: inline-block;
}
h2:hover:after {
  content: attr(data-hover);
  transition-duration: 3s;
}
h2 {
  color: black;
  
}
